.main-view-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    overflow: hidden
 
    
    
    
}

.h3-main {
    font-weight: lighter;
    
}

.h1-main {
    font-size:49px;
    font-weight:500;
}

.arrow {
    font-size: 56px;
    animation: toleft 1s  linear alternate infinite;
    color: #3057F8;
}

@keyframes toleft {
    from { transform: translateX(0); }
    to { transform: translateX(-20px); }
  }


  @media (max-width:600px) {
    .main-view-container {
       width: 80%;
    }
    
 }

