.side-menu-container {
    width: 250px;
    height: 83vh;
    background-color:	#ECEEF8;
    overflow-x: hidden;
    color:#2C3333;
    margin-top: 10px;
   
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  li:hover {
    opacity: 0.6;
    transition: 1s;
  }
  
  .side-menu-img {
    margin-right: 10px;
  }
  
  .side-menu-item {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
.side-menu-img > img {
    
    width:40px;
    height: 40px;
    
}


@media (max-width:350px) {
  .side-menu-container {
     width: 20%;
  }
  
}