.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #ECEEF8;
    align-items: center;
   
    height: 10vh;
    border-bottom: 2px solid #ccc;
    box-shadow: 10px 5px 5px #ccc;
    

}

.logo-text > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(90deg, rgba(48,87,248,1) 1%, rgba(16,43,154,1) 50%, rgba(0,0,0,1) 90%);
    -webkit-background-clip:text;
    background-clip: text;
    color: transparent;
    
    
}

.logo-text > a:hover {
  box-shadow: 5px 5px 5px #ccc;
  transition: 0.5s;
}

.logo-text {
    margin-left: 12px;
    font-size: 36px;
    letter-spacing: 6px;
    font-weight: bold;
    font-style: italic;
    border-radius: 12px;
    padding: 4px;
   
  
  
   
}


.opinion-header {
    cursor: pointer;
    font-size: 24px;
    background-color: #3057F8;
    padding: 10px;
    border-radius: 12px;
    margin-right: 12px;
    color:#fff;
}

.opinion-header:hover {
    opacity: 0.8;
    transition: 1s;
}



.logo-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color:#3057F8;
   
    
  }

 

  .left-side-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 150px;
    background-color: #ECEEF8;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
    text-align: center;
   
  }
  
  .dropdown-menu span {
    display: block;
    padding: 5px;
    cursor: pointer;
   
  }
  
  .dropdown-toggle {
    background-color: #ECEEF8;
    border: none;
    cursor: pointer;
    margin-right: 12px;
  }
  
  

 .dropdown-toggle{
    display: none;
 }



 @media (max-width: 600px) {

    .left-side-header {
      display: none;
    }
    .dropdown-toggle {
        display: block;
      
    }
  }