.news-view-container {

    height: 83vh;
  }
  
  .content-news-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 100%;
    
  
 
  }
  
  .SideMenu {
    width: 10vh;
  }